@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu+Mono&display=swap");
:root {
  --dark: #181d31;
  --darker: #101320;
  --green: #678983;
  --green-light: #8fada8;
  --creme: #e6ddc4;
  --border-radius: 10px;
}

html,
* {
  box-sizing: border-box;
  color: var(--creme);
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 0 10px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto 0 auto;
}
main {
  max-width: 800px;
  width: 100%;
  flex-grow: 1;
}

footer {
  background-color: var(--darker);
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100vw;
}

.title {
  font-family: "Ubuntu Mono", monospace;
}

a {
  text-decoration: none;
  background-color: transparent;
}
p {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

input[type="text"] {
  border: 1px solid var(--creme);
  background-color: var(--darker);
  padding: 5px;
  border-radius: var(--border-radius);
}

input[type="text"]:focus {
  outline: 0;
}
.mysynth__control {
  touch-action: none;
  position: relative;
  overflow: hidden;
  cursor: none;
  height: 0;
}

.mysynth__control,
.mysynth__user__list {
  background-color: var(--green);
  width: 100%;
  max-width: 400px;
  border: 1px solid;
  margin: 0 auto 0 auto;
  transition: 1s;
}

.mysynth__container {
  margin: 20px 0 20px 0;
  text-align: center;
}

.mysynth__container__row {
  display: flex;
  align-items: center;
  margin: 0 auto 0 auto;
  justify-content: space-around;
  max-width: 400px;
}

.mysynth__button {
  border: 0;
  border-bottom: 1px solid;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--green);
  cursor: pointer;
  margin: 5px;
  border-radius: var(--border-radius);
  transition: 0.3s;
}

.mysynth__button:hover {
  background-color: var(--green-light);
}

.button__small {
  font-size: 0.8rem;
  padding: 5px;
}

.mysynth__user__info {
  text-align: left;
}

.mysynth__user__list {
  position: relative;
  overflow: auto;
  max-height: 300px;
}

.mysynth__user__list__entry {
  display: flex;
}

.mysynth__user__list__entry p {
  margin: 0;
}
.mysynth__user__entry {
  width: 50%;
  text-align: center;
}

.mysynth__user__list__init {
  border-bottom: 1px solid;
  position: sticky;
  top: 0;
  background-color: var(--darker);
}

#pos_indicator {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  /* Created with https://www.css-gradient.com */
  background: var(--creme);
  transition: 0.1s;
}

#modal {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--darker);
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#line-info {
  margin: 5px;
}
